[data-theme='novari'] {
    --ac-bg-default: #FEFCFA;
    --ac-bg-subtle: #FCF5ED;

    --ac-surface-action: var(--ac-surface-alt-3-strong);
    --ac-surface-action-hover: #5149CA;
    --ac-surface-action-active: var(--ac-surface-alt-3-strong);
    --ac-surface-action-selected: var(--ac-surface-alt-3-strong);
    --ac-surface-action-subtle-hover: var(--ac-surface-alt-3-subtle);
    --ac-surface-action-selected-hover: #5149CA;
    --ac-surface-default: var(--ac-bg-default);
    --ac-surface-hover: #E5E4FA;

    --ac-text-action-selected: var(--ac-surface-alt-3-strong);
    --ac-text-on-action: #ffffff;
    --ac-text-action: var(--ac-surface-alt-3-strong);
    --ac-text-action-hover: var(--ac-surface-alt-3-strong);
    --ac-text-action-on-action-subtle: var(--ac-surface-alt-3-strong);

    --ac-border-action: var(--ac-surface-alt-3-strong);
    --ac-border-action-hover: var(--ac-surface-alt-3-strong);
    --ac-border-action-selected: var(--ac-surface-alt-3-strong);
    --ac-border-focus: var(--ac-surface-alt-3-strong);

    --ac-surface-alt-3-strong: #5A51E1;
    --ac-surface-alt-3-subtle: #E5E4FA;
    --ac-surface-alt-3-moderate: #6B133D;


    /* NOVARI Footer and header */
    .novari-header {
        background: #FCF5ED;
    }

    .novari-footer {
        background: #6B133D;
    }
}
